<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<div id="editor"></div>
<script src="src/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");editor.setTheme("ace/theme/twilight");
    var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
    editor.session.setMode(new JavaScriptMode());
</script>
